<div class="main" style="display: flex; gap: 1rem">
  <nav style="display: flex; flex-direction: column; gap: 1rem">
    <button (click)="store.setActivePage('company-details')">
      Company details
    </button>
    <button (click)="store.setActivePage('company-director')">
      Company director
    </button>
  </nav>

  <div class="content">
    @if (activePage() === 'company-details') {
    <app-details />
    } @else if (activePage() === 'company-director') {
    <app-director />
    }
  </div>
</div>
